
footer {
    position: fixed;
 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3px;
    background: hwb(0 100% 0% / 0.884);
    z-index: 500;
 
    p {
        text-align: center;
      font-size: 1em;
    }
  }