footer {
    position: fixed;
 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(53, 172, 246, 0.7);
 
    p {
        text-align: center;
      font-size: 1em;
    }
  }